[Desktop Entry]
Name=3SX
Comment=Street Fighter III: 3rd Strike
Exec=3sx
Icon=com.crowdedstreet.3sx
Type=Application
Categories=Game;ArcadeGame;
